.product-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.add-button {
    background-color: #45bd8f;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    transition: all 0.3s ease;

    &:hover {
        background-color: #119965;
        transform: scale(1.05);
    }
}

.sort-select {
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    border: 2px solid #45bd8f;
    border-radius: 5px;
    cursor: pointer;
}

.header-text {
    font-size: 20px;
    font-weight: 700;
    color: #45bd8f;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;

    @media (max-width: 1024px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 480px) {
        grid-template-columns: 1fr;
    }
    
}

.product-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}